<html>
<head>
    {% load static %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <h1>Login</h1>
        <form method="POST" action="{% url 'add_to_cart' %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
            {% endif %}
            <table border="1">
            {% for book in books %}
                <tr>
                    <td><input type="checkbox" name="book_ids" value="{{ book.id }}"></td>
                    <td><p>{{ book.title }}</p></td>
                    <td><p>Author: {{ book.author }}</p></td>
                    <td><p>Price: ${{ book.price }}</p></td>
                </tr>
            {% endfor %}
            </table>
            <button type="submit">Add to the Cart</button>
        </form>
        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </body>
</html>